DATA CLEANING

In [65]:
#IMPORT LIBRARIES
from datasets import load_dataset

In [66]:
dataset = load_dataset("flaviagiammarino/path-vqa")

In [67]:
dataset

DatasetDict({
    train: Dataset({
        features: ['image', 'question', 'answer'],
        num_rows: 19654
    })
    validation: Dataset({
        features: ['image', 'question', 'answer'],
        num_rows: 6259
    })
    test: Dataset({
        features: ['image', 'question', 'answer'],
        num_rows: 6719
    })
})

In [68]:
#SPLIT DATA ACCORDING TO MAIN DATASET
train_data = dataset['train']
val_data = dataset['validation']
test_data = dataset['test']

In [69]:
# CONVERT TO PANDAS
df_train = train_data.to_pandas()
df_val = val_data.to_pandas()
df_test = test_data.to_pandas()

In [95]:
df_train.head()

,image,question,answer
0,{'bytes': b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x...,where are liver stem cells (oval cells) located?,in the canals of hering
1,{'bytes': b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x...,what are stained here with an immunohistochemi...,bile duct cells and canals of hering
2,{'bytes': b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x...,what do the areas of white chalky deposits rep...,foci of fat necrosis
3,{'bytes': b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x...,is embolus derived from a lower-extremity deep...,yes
4,{'bytes': b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x...,how is hyperplasia without atypia characterized?,by nests of closely packed glands

In [96]:
df_val.head()

,image,question,answer
0,{'bytes': b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x...,what have lost their nuclei?,neutrophils
1,{'bytes': b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x...,whose nuclei have been lost?,neutrophils
2,{'bytes': b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x...,are two small pulmonary arterioles packed with...,yes
3,{'bytes': b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x...,what is acute viral hepatitis characterized by?,predominantly lymphocytic infiltrate
4,{'bytes': b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x...,what do the cells have?,wavy nuclei

In [97]:
df_test.head()

,image,question,answer
0,{'bytes': b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x...,"what are positively charged, thus allowing the...",the histone subunits
1,{'bytes': b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x...,how are the histone subunits charged?,positively charged
2,{'bytes': b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x...,what is showing increased eosinophilia of cyto...,early (reversible) ischemic injury
3,{'bytes': b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x...,does mycobacterium avium infection in a duoden...,yes
4,{'bytes': b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x...,what shows branching papillae having flbrovasc...,microscopy

CHECK DATA NULL

In [70]:
df_train.isnull()

       image  question  answer
0      False     False   False
1      False     False   False
2      False     False   False
3      False     False   False
4      False     False   False
...      ...       ...     ...
19649  False     False   False
19650  False     False   False
19651  False     False   False
19652  False     False   False
19653  False     False   False

[19654 rows x 3 columns]

In [71]:
df_train.isnull().sum()

image       0
question    0
answer      0
dtype: int64

In [72]:
df_val.isnull()

      image  question  answer
0     False     False   False
1     False     False   False
2     False     False   False
3     False     False   False
4     False     False   False
...     ...       ...     ...
6254  False     False   False
6255  False     False   False
6256  False     False   False
6257  False     False   False
6258  False     False   False

[6259 rows x 3 columns]

In [73]:
df_val.isnull().sum()

image       0
question    0
answer      0
dtype: int64

In [74]:
df_test.isnull()

      image  question  answer
0     False     False   False
1     False     False   False
2     False     False   False
3     False     False   False
4     False     False   False
...     ...       ...     ...
6714  False     False   False
6715  False     False   False
6716  False     False   False
6717  False     False   False
6718  False     False   False

[6719 rows x 3 columns]

In [75]:
df_test.isnull().sum()

image       0
question    0
answer      0
dtype: int64

CHECK DUPLICATE DATA

In [77]:
#CONVERT IMAGE OBJECT TO TUPLES TO CHECK DUPLICATE
df_train_convert = df_train.copy()
df_train_convert["image"] = df_train_convert["image"].apply(lambda x: tuple(x.items()))

In [82]:
df_train_convert.duplicated().sum()

0

In [84]:
df_val_convert = df_val.copy()
df_val_convert["image"] = df_val_convert["image"].apply(lambda x: tuple(x.items()))

In [86]:
df_val_convert.duplicated().sum()

0

In [87]:
df_test_convert = df_val.copy()
df_test_convert["image"] = df_test_convert["image"].apply(lambda x: tuple(x.items()))

In [88]:
df_test_convert.duplicated().sum()

0

CHECK NOT A NUMBER

In [92]:
df_train.isna().sum()

image       0
question    0
answer      0
dtype: int64

In [93]:
df_val.isna().sum()

image       0
question    0
answer      0
dtype: int64

In [94]:
df_test.isna().sum()

image       0
question    0
answer      0
dtype: int64